/* Author: Alan Henry
CSS file to modifiy default Bootstrap fonts for Weather API  */

body {
    font-family: 'Noto Sans', sans-serif;
}
  
h1,h2,h3,h4,h5,h6 {
    font-family: 'Noto Serif', serif;
}

p {
    font-family: 'Noto Sans', sans-serif;
}

